{{#partial "content"}}
    <h2>
        NUEVO TRAMO - RECORRIDO
    </h2>
    {{#if esPublico}}
        {{#if noExisteParada}}
            <p>No existe ninguna parada en el recorrido de este transporte que concuerde con la última parada del tramo anterior</p>
        {{else}}
            <div>
                {{#if sePuedeDeIda}}
                    <a href="/home/trayectos/nuevo-trayecto/nuevo-tramo/transporte/paradas?sentido=ida" target="_self">
                        Desde: {{primerParadaIda.puntoUbicacion.calle}} {{primerParadaIda.puntoUbicacion.altura}}
                        Hasta: {{ultimaParadaIda.puntoUbicacion.calle}} {{ultimaParadaIda.puntoUbicacion.altura}}
                    </a>
                {{/if}}
                {{#if sePuedeDeVuelta}}
                    <a href="/home/trayectos/nuevo-trayecto/nuevo-tramo/transporte/paradas?sentido=vuelta" target="_self">
                        Desde: {{primerParadaVuelta.puntoUbicacion.calle}} {{primerParadaVuelta.puntoUbicacion.altura}}
                        Hasta: {{ultimaParadaVuelta.puntoUbicacion.calle}} {{ultimaParadaVuelta.puntoUbicacion.altura}}
                    </a>
                {{/if}}
            </div>
        {{/if}}

    {{else}}
        <form id="puntos-ubicacion" method="post" action="/home/trayectos/nuevo-trayecto/nuevo-tramo/puntos-ubicacion">
            <div>
                <h3>ORIGEN</h3>
                {{#if origenNoConcuerda}}
                    <p>
                        El punto de <strong>origen</strong> de un tramo debe ser el punto <strong>destino</strong> del tramo anterior
                    </p>
                {{/if}}
                <label for="localidad_id">
                    <input type="number" name="localidad_id_origen" min="1" required
                        {{#if hayTramos}}
                            value="{{ultimoTramo.puntoDestino.localidadId}}"
                            readonly
                        {{/if}}
                    />
                </label>
                <label for="calle">
                    <input type="text" name="calle_origen" required
                        {{#if hayTramos}}
                           value="{{ultimoTramo.puntoDestino.calle}}"
                           readonly
                        {{/if}}
                    />
                </label>
                <label for="altura">
                    <input type="number" name="altura_origen" min="1" required
                        {{#if hayTramos}}
                           value="{{ultimoTramo.puntoDestino.altura}}"
                           readonly
                        {{/if}}
                    />
                </label>
            </div>
            <div>
                <h3>DESTINO</h3>
                <label for="localidad_id">
                    <input type="number" name="localidad_id_destino" min="1" required/>
                </label>
                <label for="calle">
                    <input type="text" name="calle_destino" required/>
                </label>
                <label for="altura">
                    <input type="number" name="altura_destino" min="1" required/>
                </label>
            </div>
            <button form="puntos-ubicacion">
                Continuar
            </button>
        </form>
    {{/if}}
{{/partial}}

{{>miembro-home-iniciado-sesion.hbs}}