{{#partial "content"}}
    <h2 class="titulo">Agregar trayecto</h2>
    {{#if trayectoVacio}}
        <div class="btn-error firstError">Error: ¡El trayecto no tiene tramos!</div>
    {{/if}}
    {{#if trayectoCargadoConExito}}
        <div class="btn-success firstSuccess">Felicidades: ¡El trayecto fue agregado con éxito!</div>
    {{/if}}

    <h3>Tramos</h3>
        <div class="contenedorTrayecto gap">
            {{#each tramos}}
                <div class="contenedor-tramo gap">
                    <div class="scroll-box white-border-background">
                        <p class="paragraph-header">Tipo Transporte</p>
                        <p>{{transporteUtilizado.tipo}}</p>
                    </div>
                    <div class="contenedor-puntos">
                        <div class="scroll-box white-border-background">
                            <p class="paragraph-header">Punto de Partida</p>
                            <p>Localidad id {{puntoOrigen.localidadId}}</p>
                            <p>calle {{puntoOrigen.calle}}</p>
                            <p>altura {{puntoOrigen.altura}}</p>
                        </div>
                        <div class="scroll-box white-border-background">
                            <p class="paragraph-header">Punto de Llegada</p>
                            <p>Localidad id {{puntoDestino.localidadId}}</p>
                            <p>calle {{puntoDestino.calle}}</p>
                            <p>altura {{puntoDestino.altura}}</p>
                        </div>
                        {{#if @last}}
                            <form action="/home/trayectos/registro/eliminar" method="POST">
                                <button type="submit" class="cross-icon">x</button>
                            </form>
                        {{/if}}
                   </div>
                </div>
            {{/each}}
        </div>
        <div class="botonesContainer">
            <form action="/home/trayectos/registro/cancelar" method="POST">
                <button type="submit" class="btn-2 first">Cancelar</button>
            </form>

            <a href="/home/trayectos/registro/tramo-nuevo" class="btn-2 first">
                Agregar tramo
            </a>

            <form action="/home/trayectos/registro/crear" method="POST">
                <button class="btn-consulta destacar">Agregar trayecto</button>
            </form>
        </div>
{{/partial}}

{{>miembro-home-iniciado-sesion.hbs}}