{{#partial "navbar-options"}}
    <a class="seccion" href="/recomendaciones">Recomendaciones</a>
    <a class="seccion" href="/home/vinculacion">Solicitar vinculacion</a>
    <a class="seccion" href="/home/trayectos">Trayectos</a>
{{/partial}}

{{#partial "usuario"}}
    {{usuario}}
{{/partial}}

{{#partial "content"}}
    <h2>Solicitar Vinculacion</h2>
    <form action="/home/vinculacion" method="POST">
        <div>
            Seleccione organización
            <label for="selector-organizacion"></label>
            <select id="selector-organizacion" name="organizacionSolicitada" class="white-button">
                {{#each organizaciones}}
                    <option value="{{razonSocial}}">{{razonSocial}}</option>
                {{/each}}
            </select>
        </div>
        <div>
            Seleccione sector
            <label for="sectores"></label>
            <select id="sectores" name="sectorSolicitado" class="white-button">
                {{#each nombreSectores}}
                    <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="below-buttons">
            <a class="btn-2 first" href="/home">Atrás</a>
            <button type="submit" class="btn-2 first">Solicitar</button>
        </div>
    </form>
{{/partial}}

{{>home-iniciado-sesion.hbs}}