{{#partial "usuario"}}
    <p>{{usuario}}</p>
{{/partial}}


{{#partial "content"}}
    <h2>Impacto de un miembro</h2>
    <div class="divArreglo" id="main-section">
        <form class="claseForm" method="get" action="/home/calculadora-hc/impacto-de-miembro">

            {{#if estaActivadoBoton}}
            <select id="selector-organizacion" name="miembro" class="flex-clm form form-evo-hc">
                {{#each miembros}}
                    <option>{{nombre}} {{apellido}}</option>
                {{/each}}
            </select>
            <button type="submit" class="btn-consulta">
                Calcular
            </button>
            {{else}}
                No hay miembros en la organización
                {{/if}}

        </form>

            {{#if conSeleccion}}
                    <div class="container-hc flex-clm">
                        <div class="hc-mensual flex-clm">
                            <h3>Nombre: <span class="green">{{nombre}}</span></h3>
                            <h3>Apellido: <span class="green">{{apellido}}</span></h3>
                            <h3>Impacto: <span class="green">{{impacto}}%</span></h3>
                        </div>
                    </div>
            {{/if}}
    </div>
{{/partial}}

{{>organizacion-home-iniciado-sesion.hbs}}